{% extends "SonataAdminBundle:CRUD:base_edit.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            var $answersGroup = $('.answers-group');
            $answersGroup.parent().append('<a href="#" class="answers-show">Show/Hide Answers</a>');
            $answersGroup.hide();

            $('.answers-show').click(function (event) {
                event.preventDefault();
                var $currentAnswersGroup = $(this).parent().find('.answers-group');
                if ($currentAnswersGroup.is(":visible")) {
                    $currentAnswersGroup.hide(200);
                } else {
                    $currentAnswersGroup.show(200);
                }
            });
        });
    </script>
{% endblock %}
